/* EventList.css */

.search-form-inner {
  background-color: #ffe6f0;
  padding: 15px;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-button-container {
  display: flex;
  justify-content: flex-end; /* Align button to the right */
  align-items: center;
  margin-top: 10px; /* Adjust as needed */
  padding-left: 1120px;
}

.search-form-button {
  background-color: #3f51b5;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  padding: 4px 8px; /* Adjust padding as needed */
}

.search-form-button:hover {
  background-color: #303f9f;
}


.search-form-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.event-card {
  height: 100%; /* Ensure cards take full height */
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-card-content {
  padding: 20px;
  flex: 1; /* Expand to fill available space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-card-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.4;
  /* Allow text to overflow with ellipsis */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.learn-more-button {
  margin-top: auto; /* Push button to the bottom */
  background-color: #3f51b5;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.learn-more-button:hover {
  background-color: #303f9f;
}

@media (max-width: 600px) {
  .event-card {
    height: auto; /* Adjust card height for smaller screens */
    margin-bottom: 20px; /* Add margin between cards */
  }
}

