.jumbotron {
  background-color: #ea689c;
  padding: 30px 20px;
  margin-bottom: 30px;
}

.welcome {
  background-image: url("https://res.cloudinary.com/de0mhfxog/image/upload/v1719913037/vym8z8tnbmzzbgkaxhq0.jpg");
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 230px;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  top: 0;
  left: 0;
  box-shadow: 0 0 40000px rgba(0, 0, 0, 0.9) inset;
}

.feature-box,
.feature-box1 {
  background-color: white;
  border: 1px solid #e72e77;
  border-radius: 10px;
  height: 250px;
  
  padding: 20px;
  margin: 10px 0;
  transition: transform 0.3s ease-in-out;
  color: #333; /* Ensure text is visible */
}

.feature-box h3,
.feature-box p,
.feature-box1 h3,
.feature-box1 p {
  color: #333; /* Ensure text is visible */
}

.feature-box:hover {
  transform: scale(1.05);
}

.feature-icon {
  color: #e72e77;
  margin-bottom: 10px;
}

.feature-box1 h3 {
  color: #e72e77;
  margin-top: 10px;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

img.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group .form-control {
  margin-bottom: 1rem;
}

.btn-outline-secondary {
  border-color: #ff69b4;
  color: #ff69b4;
}

.btn-outline-secondary:hover {
  background-color: #ff69b4;
  color: white;
}

.contactus {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  margin-bottom: 0;
  box-sizing: border-box;
}

.search-input::placeholder {
  color: #ff69b4;
}

.search-button {
  padding: 10px 20px;
  border: 1px solid #ff69b4;
  border-radius: 5px;
  color: #ff69b4;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.search-button:hover {
  background-color: #ff69b4;
  color: white;
}

.feature-icon h2{
  color:white
}

