.register-container-inner {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure this container is on top */
  z-index: 1; /* Place it above other elements */
}

#register-img {
  width: 100%;
  max-height: 700px; /* Restrict the image height */
  object-fit: cover;
  z-index: 0; /* Ensure image stays behind */
  position: relative;
}

.register-form .form-control {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  z-index: 1; /* Ensure input fields are above everything else */
  position: relative;
}


.register-form {
  width: 100%;
  max-width: 400px;
}

.register-form .form-group {
  margin-bottom: 15px;
  width: 100%;
}

.register-form .form-control {
  background-color: #fff;
  opacity: 1;
  border: 1px solid black;
  border-radius: 5px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #e72e77;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

h3 {
  text-align: center;
  color: #e72e77;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: red;
  text-align: center;
  margin-top: 10px;
}
