/* src/styles/Register.css */

.register-container{
  margin: 80px 20px 20px 20px;
}
  
  .register-form .form-group {
    margin-bottom: 15px;
  }
  #register-img{
    width:500px;
    height: auto;
  }
  .register-btn{
    border: none;
    color: white;
    background-color: #E72E77;
   
    text-align: center;
    text-decoration: none;
    height: 40px;
    width:250px;
    display: inline-block;
    font-size: 16px;
    margin: 20px 140px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .register-form .form-control {
    border: 1px solid black; /* Pink border for input fields */
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #ff69b4; /* Pink background for button */
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #ff85c1; /* Lighter pink on hover */
  }
  