html, body {
    height: 100%; /* Ensure the body and html have full height */
    margin: 0; /* Remove default margin */
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the root element takes the full viewport height */
  }
  
  .main-content {
    flex: 1; /* Take up the remaining space */
  }
  